.main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.task-delete {
  width: 100px;
}

.aside {
  background-color: rgb(105, 105, 110);
  height: 100vh;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.h3-p {
  color: #fff;
}

.card-1 {
  background-color: brown;
  display: flex;
  width: 100vw;
  border: 2px solid #000;
  margin-bottom: 10px;
  align-items: center;
  color: #fff;
}
